<style>
  .button{
  background-color: rgb(218, 133, 195);
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid rgb(234, 230, 234);
  cursor: pointer;
  letter-spacing: .2rem;
  transition: all 0.5,ease;
   }
 
   .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

   


   .colored-background {
       background-color: rgb(61, 21, 50); /* Dark purple background color */
       color: rgb(42, 6, 50); /* White text color */
       padding: 20px;
       text-align: center;
   }
  

   body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

   body {
   
        margin: 0;
       padding: 0;
       background-color:#0b0b13;  
   }

   header {
     background-image: url('background 2.jpg');
       background-color: #17306e;
       color: #f4eeee;
       padding: 40px;
       text-align: center;
   }
   nav {
       background-color: #3a273f;
       padding: 10px;
       text-align: center;
   }
   nav ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   nav ul li {
       display: inline;
       margin-right: 10px;
   }
   nav ul li a {
       color: #f6f2f6;
       text-decoration: none;
   }
   nav ul li a:hover {
       text-decoration: underline;
   }
   section {
       padding: 20px;
       margin: 20px;
       background-color: #fcfeff;

   }

   .moving-sticker {
  position: absolute;
  animation: moveSticker 3s infinite alternate; /* Animation properties */
  }

   footer {
       background-color: #3e0d3f;
       color: #ffffff;
       text-align: center;
       padding: 10px;
       position: fixed;
       bottom: 0;
       width: 100%;  
     }
</style>